.HyperLink {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: 0.3s;
}

.Navbar {
    background-color: rgb(226, 227, 229);
}

.HyperLink:hover {
    color: rgb(248, 141, 75);
    text-decoration: underline;
}

.customtxt {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.pfmlogo {
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.tag-container {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .tag {
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px 8px; /* Adjusted padding */
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  
  .tag button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 18px; /* Adjusted width */
    height: 18px; /* Adjusted height */
    margin-left: 3px;
    cursor: pointer;
    padding: 0; /* Removed padding */
  }
  