.HyperLink {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    display: block;
    transition: 0.3s;
}

.Navbar {
    background-color: rgb(226, 227, 229);
}

.HyperLink:hover {
    color: rgb(248, 141, 75);
    text-decoration: underline;
}

.customtxt {
    font-weight: bold;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.pfmlogo {
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}